version: "3"

services:
    mask_detector:
      build: docker/php
      container_name: mask_detector
      volumes:
        - ./:/app
        - ./docker/php/php.ini:/usr/local/etc/php/php.ini

    nginx:
          image: nginx
          container_name: nginx
          ports:
            - $NGINX_PUBLIC_PORT:8080
          volumes:
            - ./:/app
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
          depends_on:
            - mask_detector
    rabbitmq:
      image: "rabbitmq:3-management"
      hostname: "rabbit1"
      environment:
        RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
        RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
        RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
        RABBITMQ_DEFAULT_VHOST: "/"
      labels:
        NAME: "rabbitmq1"
      volumes:
        - "./docker/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins"
      ports:
        - $RABBITMQ_PUBLIC_PORT:5672
        - $RABBITMQ_UI_PUBLIC_PORT:15672
    redis:
      image: redis:6.2-alpine
      restart: "always"
      ports:
        - '6379:6379'
      command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81