version: "3"

services:
    mask_detector:
      build: docker/php
      container_name: mask_detector
      volumes:
        - ./:/app
        - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    face_recognition_app:
      build:
        context: ./face_recognition_app
        dockerfile: ../docker/face_recognition_app/Dockerfile
      container_name: face_recognition_app
      restart: "always"
    nginx:
          image: nginx
          container_name: nginx
          ports:
            - $NGINX_PUBLIC_PORT:8080
          volumes:
            - ./:/app
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
          depends_on:
            - mask_detector
    rabbitmq:
      build:
        context: ./rabbitmq
        dockerfile: ../docker/rabbitmq/Dockerfile
      hostname: ${HOST_RABBITMQ}
      environment:
        RABBITMQ_ERLANG_COOKIE: ${RABBITMQ_ERLANG_COOKIE}
        RABBITMQ_DEFAULT_USER: ${RABBITMQ_ADMIN_NAME}
        RABBITMQ_DEFAULT_PASS: ${RABBITMQ_ADMIN_PASS}
        RABBITMQ_DEFAULT_VHOST: ${VHOST_RABBITMQ}
      labels:
        NAME: "rabbitmq1"
      ports:
        - $RABBITMQ_PUBLIC_PORT:5672
        - $RABBITMQ_UI_PUBLIC_PORT:15672
      depends_on:
        - face_recognition_app
    redis:
      image: redis:6.2-alpine
      restart: "always"
      ports:
        - '6379:6379'
      command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81