@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}
.header-line{
    width: 100%;
    min-height: 100px;
    position: relative;
}
.content-center{
    justify-content: center;
}
.content-around{
    justify-content: space-around;
}
.logo-block{
    width: 550px;
    height: 550px;
    border-radius: 20px;
    position: absolute;
    left: -175px;
    top: -210px;
    transform: rotate(75deg);
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.2);
}
.logo-image{
    margin-left: 240px;
    margin-top: 90px;
    width: 50%;
    height: 50%;
    transform: rotate(-75deg);
    background-size: cover;
}
nav{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    color: #000;
    text-decoration: none;
}
.link-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.link-form label{
    margin-top: 10px;
    margin-bottom: 10px;
}
.link-form input[type = "text"]{
    width: 300px;
    height: 35px;
    border: solid 2px #000;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.link-form input[type = "submit"]{
    width: 310px;
    height: 40px;
    border: solid 2px #000;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
    background-color: #cfecd0;
    transition: background-color .3s ease-in;
}
.link-form input[type = "submit"]:hover{
    cursor: pointer;
    background-color: #9ec0db;
}
.footer-path{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.overlay, .image_overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.loader-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader{
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    position: absolute;
}
#loader-6{
    display: flex;
    justify-content: center;
}
  
#loader-6 span{
    display: inline-block;
    width: 5px;
    height: 20px;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    margin-right: 3px;
    margin-left: 3px;
}
  
#loader-6 span:nth-child(1){
    animation: grow 1s ease-in-out infinite;
}
  
#loader-6 span:nth-child(2){
    animation: grow 1s ease-in-out 0.15s infinite;
}
  
#loader-6 span:nth-child(3){
    animation: grow 1s ease-in-out 0.30s infinite;
}
  
#loader-6 span:nth-child(4){
    animation: grow 1s ease-in-out 0.45s infinite;
}

.success_checkmark{
    position: absolute;
    display: none;
}
.overlay_images{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result_btn{
    color: #000;
    text-decoration: none;
    transition: color .3s ease-in;
    color: #a0cea7;
}
.result_btn:hover{
    color: #a0cea7;
}
.align-stretch{
    align-items: stretch;
}
.video_list_block{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: solid 2px #000;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow .3s ease;
    margin: 10px;
    max-width: 400px;
}
.video_list_block:hover{
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.2);
}
.video_list_block p{
    text-align: center;
}
.content-start{
    justify-content: flex-start;
}
.face_block{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px;
    background-color: #fff;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
}
.face_block img{
    width: 100%;
}
.face_block img:hover{
    cursor: pointer;
}
.face_block p{
    text-align: center;
}
.face_block a{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #a0cea7;
    transition: color .3s ease-in;
}
.face_block a:hover{
    color: #a0cea7;
}
.image_overlay_cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_modal{
    width: 50%;
    height: 50vh;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.close_modal:hover{
    cursor: pointer;
}
.video_list_block img{
    width: 100%;
    border-radius: 10px;
}
@keyframes grow{
    0%, 100%{
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      transform: scaleY(1);
    }
  
    50%{
      -webkit-transform: scaleY(1.8);
      -ms-transform: scaleY(1.8);
      -o-transform: scaleY(1.8);
      transform: scaleY(1.8);
    }
}
